</body>
<footer class="page-footer font-small blue pt-4">  
	<div class="footer-copyright text-center py-3 footer-background">Brought to you by <a target="_blank" rel="noopener noreferrer" href="https://midtown.toastmastersclubs.org/">Midtown Toastmasters Club 3167</a>. The Club of Champions!
	</div>
</footer>
</html>