<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	 <meta name="viewport" content="width=device-width">
	<title>Random Table Topic Generator</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles.css">

	<nav class="navbar-title navbar navbar-light bg-light" style="background-color: #004165;">
		<a class="navbar-brand site-title" href="#">
			<img src="images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">Random Table Topic Generator</a>
		</nav>
	</head>
	<body>
