<%- include("partials/header") -%>

<<h2 class="top-topics-container">There was an error with getting any Table Topics</h2>

<hr class="top-line">
<br>
    <h4 class="instructions">Please click the "Back" button to try your search again</h4>

<br><br><br><br><br>
	<center>
		<br>
		<form action="/">
			<button type="submit" class="btn btn-primary btn-lg" style="font-weight: 600; letter-spacing: 1.5px">Back</button>
		</form>
		<br><br>
	</center>


<%- include("partials/footer") -%>