<%- include("partials/header") -%>

    <h2 class="top-topics-container">This site allows you to generate random table topics based on your choice in categories.	</h2>
  
<hr class="top-line">

<div class="container, categories-container">
<h4 class="instructions">Choose your categories - Then choose how many table topics you would like to generate - Then press “Generate”</h4>

<hr class="middle-line">
<div class="category-title">Categories</div>
<hr>

<form>
	<center>
	<div class="form-check-inline, checkbox-containers">
    <input type="checkbox" class="custom-control-input, custom-checkboxes" name="defaultUnchecked">
    <label class="custom-control-label" for="defaultUnchecked">Check</label>

    <input type="checkbox" class="custom-control-input, custom-checkboxes" name="defaultUnchecked">
    <label class="custom-control-label" for="defaultUnchecked">Check</label>

    <input type="checkbox" class="custom-control-input, custom-checkboxes" name="defaultUnchecked">
    <label class="custom-control-label" for="defaultUnchecked">Check</label>
</div>
</center>
</form>
</div>


<%- include("partials/footer") -%>