<%- include("partials/header") -%>

    <h2 class="top-topics-container">This site allows you to generate random table topics based on your choice in categories.	</h2>
  


Choose your categories
Then choose how many table topics you would like to generate.
Then press “Generate”



<%- include("partials/footer") -%>