.site-title{
	color: #F2DF74;
	font-weight: 600;
	font-size: 24px;
	font-family: Arial;
	display:inline-block;
	padding-bottom:40px;
}
.header-logo{
	width: 15vh;
	height: auto;
	border-radius: 0px !important;
}
.site-title>img{
	display:inline-block;
	margin-right:10px;
}
.footer-background{
	position:relative;
	background-color: #A9B2B1;
	padding: 10px 0;
	left: 0;
   bottom: 0;
   width: 100%;
}
.top-topics-container{
	text-align: center;	
	padding: 20px 0;
}
.navbar{
	border-radius: 0px;
}
.top-line{
	border-width: 2px;
	font-family: Montserrat;
}
.middle-line{
	border: 3px solid #F2DF74;
	width: 90%;
}
.instructions{
	text-align: center;	
}
.categories-container{
	border: 1px solid #c6c6c6;
	width:85%;
	margin: 0 auto;
	background-color: white;
}
body{
	background-color: #fafafa;
}
.category-title{
	text-align: center;	
	font-size: 28px;
	font-family: Montserrat;
}
input.custom-checkboxes{
	width : 24px;
	height : 24px;
}
.custom-control-label{
	font-size:18px;
	vertical-align: middle;
}
label.custom-control-label{
	margin-bottom: 15px;
	padding-right:8vw;
}
.checkbox-containers{
	margin: 0 auto;
	text-align: center;
	padding-left: 2vw;
}
tr, td{
	width: 25vw;
}

ol .itemStyle:nth-child(even){
	font-size: 18px;
	background-color: #f2f2f2;
	list-style-position: inside;
	margin-right:40px;
	padding: 6px 0;

}
ol .itemStyle:nth-child(odd){
	font-size: 18px;
	background-color: #f9f9f9;
	list-style-position: inside;
	margin-right:40px;
	padding: 6px 0;
}